*{
    margin: 0;
    padding: 0;
}
.left_nav{
    position: relative;
    width: 200px;
    height: 500px;
    background-color: #eee;
}

.left_nav ul{
    list-style: none;
    padding: 10px;
}

.left_nav ul li a{
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #eee;
}
.left_nav .nav_content{
   position: absolute;
   top:0;
   left:200px;
   width: 600px;
   height: 500px;
   background-color: red;
   display: none;
}
.left_nav a:hover .show{
    display: block;
}